.white {
  color: rgb(19, 234, 162);
}

.pop {
  color: rgb(2, 119, 191);
}

.pop-background {
  background-color: rgb(24,44,92);
}

.warm-pop {
  color: rgb(233, 9, 102);
}

.light {
  color: rgb(245, 247, 251);
}

.grey-background {
  background-color: rgb(255, 255, 255);
}
