 /* Keyframe Animation */
 @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

body{
    font-family: 'Gochi Hand', cursive;
    background-color: rgb(11, 121, 48);
    color: black;
}

  /* Customized CSS */
  .navbar {
    background-color: #000000;
  }
  
  .navbar-brand {
    color: #FFF;
    font-weight: bold;
  }
  
  .nav-link {
    color: #FFF;
    font-weight: bold;
  }
  
  .jumbotron {
    background-color: #067e7c;
    color: #010d11;
    padding: 100px;
    animation: fadeIn 2s ease-in-out;
  }
  
  .another-banger{
    max-width: 350px;
    max-height: 550px;
    display: flex;
    flex-wrap: wrap;
    
  }

  .card {
    margin: auto;
  }
  
  .shadow-image-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-img-top {
    height: 315px;
    width: 50 px;
    
    
  }
  


  .container h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: animation-1 8s ease-in-out 0.4s infinite ;
    
  }

   
  @keyframes animation-1 {
    0%{color: rgb(244, 22, 10);}
    6.25%{color: rgb(51, 6, 249);}
    12.5%{color: rgb(237, 245, 12);}
    25%{color: rgb(0, 174, 9);}
    31.25%{color: rgb(240, 0, 0);}
    38.5%{color: rgb(4, 4, 241);}
    44.75%{color: rgb(229, 254, 4);}
    50%{color: rgb(3, 170, 6);}
    56.25%{color: rgb(244, 22, 10);}
    62.5%{color: rgb(51, 6, 249);}
    68.75%{color: rgb(237, 245, 12);}
    75%{color: rgb(0, 174, 9);}
    81.25%{color: rgb(240, 0, 0);}
    87.5%{color: rgb(4, 4, 241);}
    93.75%{color: rgb(229, 254, 4);}
    1000%{color: rgb(3, 170, 6);}
}
  
  .container p {
    font-size: 18px;
  }
  
  .btn-primary {
    background-color: #156aab;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #170193;
  }
  
  .section-heading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .section-content {
    font-size: 20px;
  }
  
  


  /* Media Queries */
  @media (max-width: 768px) {
    .jumbotron {
      padding: 50px;
    }
    .container h1 {
      font-size: 24px;
    }
    .container p {
      font-size: 16px;
    }
    .section-heading {
      font-size: 24px;
    }
    .section-content {
      font-size: 16px;
    }
  }
  footer {
    color: #000000;
  }
  .socialbar nav ul {
    float: right;
    margin-right: 20px;
    }
.socialbar nav ul li {
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
    }

.socialbar nav ul li:hover {
    background-color:rgb(0, 0, 0);
    }
.socialbar nav ul li a {
    text-decoration: none;
    color: rgba(99, 190, 202, 0.862);
    padding: 12px;
    display: block;
    }

   